.item {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.item p {
  margin: 5px 0;
}

.deleteBtn {
  background-color: rgb(72, 2, 21);
  color: aliceblue;
  border: 2px solid;
  border-radius: 26px;
  width: 60px;
  cursor: pointer;
}

.container {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
}

.icon {
  width: 20px;
  height: 30px;
  transition: all 0.3s ease;
}

.icon:hover {
  transform: scale(1.5) rotate(360deg);
}
